<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	<th:block layout:fragment="customContent">  
	    <section class="content-main">
	        <div class="content-header">
	            <div>
	                <h2 class="content-title card-title">멘토링 후기 관리</h2>
	                <p>멘티가 등록한 멘토링 후기 관리 페이지내(내용이 부적절할 시 삭제)</p>
	            </div>
	            <div>
	                <input type="text" placeholder="Search by name" class="form-control bg-white" />
	            </div>
	        </div>
	        <div class="card mb-4">
	            <!-- card-header end// -->
	            <div class="card-body">
	                <div class="table-responsive">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th>멘토 아이디</th>
	                                <th>멘토 공지 코드</th>
	                                <th>멘토 아이디</th>
	                                <th>후기 평점</th>
	                                <th>후기 내용</th>
	                                <th>후기 등록일자</th>
	                                <th>후기삭제</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>mentee001</td>
	                                <td>mentoring_notice_code_01</td>
	                                <td>mentor001</td>
	                                <td>
	                                    <ul class="rating-stars">
	                                        <li style="width: 100%" class="stars-active">
	                                            <img src="/manager/imgs/icons/stars-active.svg" alt="stars" />
	                                        </li>
	                                        <li>
	                                            <img src="/manager/imgs/icons/starts-disable.svg" alt="stars" />
	                                        </li>
	                                    </ul>
	                                </td>
	                                <td>저에게 꼭 필요한 상담이었습니다!!</td>
	                                <td>2024-07-02</td>
	                                <td>
	                                    <a href="#" class="btn btn-md rounded font-sm">삭제</a>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	                <!-- table-responsive//end -->
	            </div>
	            <!-- card-body end// -->
	        </div>
	        <div class="pagination-area mt-30 mb-50">
	            <nav aria-label="Page navigation example">
	                <ul class="pagination justify-content-start">
	                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
	                    <li class="page-item"><a class="page-link" href="#">02</a></li>
	                    <li class="page-item"><a class="page-link" href="#">03</a></li>
	                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
	                    <li class="page-item"><a class="page-link" href="#">16</a></li>
	                    <li class="page-item">
	                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
	                    </li>
	                </ul>
	            </nav>
	        </div>
	    </section>
	</th:block>
</html>
