<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">회원정보수정</h2>
                        <p>현재 가입 중인 회원 정보를 수정합니다.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <header class="card-header d-flex">
                                <div class="col-10">
                        			<div class= "d-flex">
	                                        <select class="form-select col-xxs ">
	                                            <option>회원 코드로 검색</option>
	                                            <option>회원 ID로 검색</option>
	                                        </select>
		                                <div class="col-ml-4 col-6 col-md-6 d-flex">
		                                   <input type="text" placeholder="search..." class="form-control" />
		                                   <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
		                                </div>
                        			</div>
                                </div>
                            </header>
                            <!-- card-header end// -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>로그인 로그 코드</th>
                                                <th>ID</th>
                                                <th>회원 권한</th>
                                                <th>마지막 로그인 날짜</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Devon Lane</td>
                                                <td>$948.55</td>
                                                <td><span class="badge rounded-pill alert-success">멘티</span></td>
                                                <td>07.05.2020</td>
                                            </tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-success">멘티</span></td>
											    <td>07.05.2020</td>  
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-success">멘티</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-success">멘티</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-success">멘티</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-success">멘티</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-warning">멘토</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-warning">멘토</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-warning">멘토</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td>Devon Lane</td>
											    <td>$948.55</td>
											    <td><span class="badge rounded-pill alert-warning">멘토</span></td>
											    <td>07.05.2020</td>
											</tr>
											<tr>
											    <td colspan="4" align="center">HAS NO DATA.</td>
											</tr>																																																													
											<tr>
											    <td colspan="4" align="center">HAS NO DATA.</td>
											</tr>																																																													
											<tr>
											    <td colspan="4" align="center">HAS NO DATA.</td>
											</tr>																																																													
											<tr>
											    <td colspan="4" align="center">HAS NO DATA.</td>
											</tr>																																																													
											<tr>
											    <td colspan="4" align="center">HAS NO DATA.</td>
											</tr>																																																													
																																																												
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive //end -->
                            </div>
                            <!-- card-body end// -->
                        </div>
                        <!-- card end// -->
                    </div>
                    
                    
                    <div class="col-md-5">
                        <div class="card mb-4">
	                            <form class="container mt-40 mb-30 ml-20">
	                            <div class="mb-4">
	                                <label class="form-label">회원 아이디</label>
									<div class="row gx-2">									
			                               <div class="col-4"><input class="form-control" placeholder="현재 ID" type="text" disabled /></div>
			                               <div class="col-5"><input class="form-control" placeholder="변경할 ID" type="text" /></div>
											<div class="col-3"><button type="submit" class="btn btn-primary w-20">적용</button></div>
	                            	</div>
								</div>
	                            <!-- form-group// -->
									<div class="mb-4 row gx-2">
		                                <label class="form-label">회원 비밀번호</label>
			                               <div class="col-4"><input class="form-control" placeholder="현재 Password" type="text" disabled /></div>
			                               <div class="col-5"><input class="form-control" placeholder="변경할 Password" type="text" /></div>
											<div class="col-3"><button type="submit" class="btn btn-primary w-20">적용</button></div>
		                            </div>

								<div class="mb-4">
	                                <label class="form-label">비밀번호 찾기 질문/답변</label>
									<div class="col-9">
										<select class="mb-10 form-control" name="findPasswordQ" disabled>
											<option value="pwQuestion1">Q. 내가 태어난 고향은 어디인가?</option>
											<option value="pwQuestion2">Q. 내가 가장 좋아하는 색깔은?</option>
											<option value="pwQuestion3">Q. 내가 가장 처음 산 물건은?</option>
											<option value="pwQuestion4">Q. 여행 가기 좋다고 생각하는 장소는?</option>
											<option value="pwQuestion5">Q. 내가 가장 좋아하는 캐릭터 이름은?</option>
										</select>
									</div>
									<div class="mb-4 row gx-2">
		                                <label class="form-label">회원 설정 답변</label>
			                               <div class="col-4"><input class="form-control" placeholder="현재 답변" type="text" disabled /></div>
			                               <div class="col-5"><input class="form-control" placeholder="변경할 답변" type="text" /></div>
											<div class="col-3"><button type="submit" class="btn btn-primary w-20">적용</button></div>
		                            </div>
	                            </div>
	                            <!-- form-group// -->
									<div class="mb-4 row gx-2">
		                                <label class="form-label">회원이름</label>
			                               <div class="col-4"><input class="form-control" placeholder="현재 이름" type="text" disabled /></div>
			                               <div class="col-5"><input class="form-control" placeholder="변경할 이름" type="text" /></div>
											<div class="col-3"><button type="submit" class="btn btn-primary w-20">적용</button></div>
		                            </div>
	                            <!-- form-group// -->									
	                            <div class="mb-4">
	                                <label class="form-label">현재 연락처</label>
	                                <div class="row gx-2">
	                                    <div class="col-4"><input class="form-control" value="+998" type="text" disabled /></div>
	                                    <div class="col-5"><input class="form-control" placeholder="Phone" type="text" disabled /></div>
	                                </div>
	                            </div>
	                            <div class="mb-4">
	                                <label class="form-label">변경할 연락처</label>
	                                <div class="row gx-2">
	                                    <div class="col-4"><input class="form-control" value="+998" type="text" /></div>
	                                    <div class="col-5"><input class="form-control" placeholder="변경할 연락처" type="text" /></div>
										<div class="col-3"><button type="submit" class="btn btn-primary w-20">적용</button></div>
	                                </div>
	                            </div>

	                            <!-- form-group// -->
									<div class="mb-4 row gx-2">
		                                <label class="form-label">이메일</label>
			                               <div class="col-4"><input class="form-control" placeholder="현재 이메일" type="text" disabled /></div>
			                               <div class="col-5"><input class="form-control" placeholder="변경할 이메일" type="text" /></div>
											<div class="col-3"><button type="submit" class="btn btn-primary w-20">적용</button></div>
		                            </div>
		                            <div class="mt-60 d-flex justify-content-center">
		                                <button type="submit" class="btn btn-primary w-90">모두 저장하기</button>
		                            </div>
	                        	</form>
	                           </div>
								<!-- form-group// -->
	                            <!-- form-group// -->
                        </div>
                        <!-- card end// -->
                    </div>

			</section>
	<!-- content-main end// -->
	</th:block>
</html>
