<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout}">
		<th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">탈퇴 회원 정보 조회</h2>
                        <p>탈퇴승인이 완료된 회원의 정보를 조회합니다.</p>
                    </div>

                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </th>
                                        <th>탈퇴코드</th>
                                        <th>탈퇴사유</th>
										<th>회원권한</th>
                                        <th>ID</th>
                                        <th>Password</th>
                                        <th>탈퇴요청일자</th>
                                        <th>탈퇴승인일자</th>
                                        <th class="text-end">Detail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td>
                                        <td>23</td>
                                        <td><b>더 이상 안 쓸 것 같습니다~</b></td>
										<td>멘티</td>
                                        <td>Devon Lane</td>
                                        <td>password1234</td>
                                        <td>10.03.2020</td>
                                        <td>10.04.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
												<a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="#">View detail</a>
												<a class="dropdown-item" href="#">Edit info</a>
												<a class="dropdown-item text-danger" href="#">Delete</a>
											</div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" />
                                            </div>
                                        </td>
                                        <td>24</td>
                                        <td><b>멘토링 다 받았어요</b></td>
										<td>멘티</td>
                                        <td>Guy Hawkins</td>
										<td>password1234</td>
										<td>10.03.2020</td>
										<td>10.04.2020</td>
										<td class="text-end">
										    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
										    <div class="dropdown">
										        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
									<tr>
									     <td>
									         <div class="form-check">
									             <input class="form-check-input" type="checkbox" value="" />
									         </div>
									     </td>
									     <td>24</td>
									     <td><b>퇴사</b></td>
										 <td>멘토</td>
									     <td>Guy Hawkins</td>
										<td>password1234</td>
										<td>10.03.2020</td>
										<td>10.04.2020</td>
										<td class="text-end">
										    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
										    <div class="dropdown">
										        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									             <div class="dropdown-menu">
									                 <a class="dropdown-item" href="#">View detail</a>
									                 <a class="dropdown-item" href="#">Edit info</a>
									                 <a class="dropdown-item text-danger" href="#">Delete</a>
									             </div>
									         </div>
									         <!-- dropdown //end -->
									     </td>
									 </tr>
									 <tr>
									      <td>
									          <div class="form-check">
									              <input class="form-check-input" type="checkbox" value="" />
									          </div>
									      </td>
									      <td>24</td>
									      <td><b>졸업해서 안봐요</b></td>
										  <td>멘티</td>
									      <td>Guy Hawkins</td>
									 	<td>password1234</td>
									 	<td>10.03.2020</td>
									 	<td>10.04.2020</td>
									 	<td class="text-end">
									 	    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
									 	    <div class="dropdown">
									 	        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									              <div class="dropdown-menu">
									                  <a class="dropdown-item" href="#">View detail</a>
									                  <a class="dropdown-item" href="#">Edit info</a>
									                  <a class="dropdown-item text-danger" href="#">Delete</a>
									              </div>
									          </div>
									          <!-- dropdown //end -->
									      </td>
									 </tr>
									 <tr>
									      <td>
									          <div class="form-check">
									              <input class="form-check-input" type="checkbox" value="" />
									          </div>
									      </td>
									      <td>24</td>
									      <td><b>부서이동</b></td>
										  <td>멘토</td>
									      <td>Guy Hawkins</td>
									 	<td>password1234</td>
									 	<td>10.03.2020</td>
									 	<td>10.04.2020</td>
									 	<td class="text-end">
									 	    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
									 	    <div class="dropdown">
									 	        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									              <div class="dropdown-menu">
									                  <a class="dropdown-item" href="#">View detail</a>
									                  <a class="dropdown-item" href="#">Edit info</a>
									                  <a class="dropdown-item text-danger" href="#">Delete</a>
									              </div>
									          </div>
									          <!-- dropdown //end -->
									      </td>
									 </tr>
									 <tr>
									      <td>
									          <div class="form-check">
									              <input class="form-check-input" type="checkbox" value="" />
									          </div>
									      </td>
									      <td>24</td>
									      <td><b>사용을 안 해서 탈퇴합니다</b></td>
										  <td>멘티</td>
									      <td>Guy Hawkins</td>
									 	<td>password1234</td>
									 	<td>10.03.2020</td>
									 	<td>10.04.2020</td>
									 	<td class="text-end">
									 	    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
									 	    <div class="dropdown">
									 	        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									              <div class="dropdown-menu">
									                  <a class="dropdown-item" href="#">View detail</a>
									                  <a class="dropdown-item" href="#">Edit info</a>
									                  <a class="dropdown-item text-danger" href="#">Delete</a>
									              </div>
									          </div>
									          <!-- dropdown //end -->
									      </td>
									 </tr>
									 <tr>
									      <td>
									          <div class="form-check">
									              <input class="form-check-input" type="checkbox" value="" />
									          </div>
									      </td>
									      <td>24</td>
									      <td><b>안써요</b></td>
										  <td>멘티</td>
									      <td>Guy Hawkins</td>
									 	<td>password1234</td>
									 	<td>10.03.2020</td>
									 	<td>10.04.2020</td>
									 	<td class="text-end">
									 	    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
									 	    <div class="dropdown">
									 	        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									              <div class="dropdown-menu">
									                  <a class="dropdown-item" href="#">View detail</a>
									                  <a class="dropdown-item" href="#">Edit info</a>
									                  <a class="dropdown-item text-danger" href="#">Delete</a>
									              </div>
									          </div>
									          <!-- dropdown //end -->
									      </td>
									 </tr>
									 <tr>
									      <td>
									          <div class="form-check">
									              <input class="form-check-input" type="checkbox" value="" />
									          </div>
									      </td>
									      <td>24</td>
									      <td><b>광고문자 오는 거 짜증나서 탈퇴합니다~</b></td>
										  <td>멘티</td>
									      <td>Guy Hawkins</td>
									 	<td>password1234</td>
									 	<td>10.03.2020</td>
									 	<td>10.04.2020</td>
									 	<td class="text-end">
									 	    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
									 	    <div class="dropdown">
									 	        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									              <div class="dropdown-menu">
									                  <a class="dropdown-item" href="#">View detail</a>
									                  <a class="dropdown-item" href="#">Edit info</a>
									                  <a class="dropdown-item text-danger" href="#">Delete</a>
									              </div>
									          </div>
									          <!-- dropdown //end -->
									      </td>
									 </tr>
									 <tr>
									      <td>
									          <div class="form-check">
									              <input class="form-check-input" type="checkbox" value="" />
									          </div>
									      </td>
									      <td>24</td>
									      <td><b>재미없어요</b></td>
										  <td>멘티</td>
									      <td>Guy Hawkins</td>
									 	<td>password1234</td>
									 	<td>10.03.2020</td>
									 	<td>10.04.2020</td>
									 	<td class="text-end">
									 	    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
									 	    <div class="dropdown">
									 	        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
									              <div class="dropdown-menu">
									                  <a class="dropdown-item" href="#">View detail</a>
									                  <a class="dropdown-item" href="#">Edit info</a>
									                  <a class="dropdown-item text-danger" href="#">Delete</a>
									              </div>
									          </div>
									          <!-- dropdown //end -->
									      </td>
									 </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
			</section>
            <!-- content-main end// -->
	</th:block>
</html>
