<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
			<section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">멘토링 결제 내역 조회 화면</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <header class="border-bottom mb-4 pb-4">
                                    <div class="row" style="justify-content: flex-end;">
                                        <div class="col-lg-2 col-6">
                                            <select class="form-select">
                                                <option>결제방법</option>
                                                <option>카드</option>
                                                <option>Visa card</option>
                                                <option>Paypal</option>
                                            </select>
                                        </div>
                                    </div>
                                </header>
                                <!-- card-header end// -->
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>결제(멘티) ID</th>
                                                <th>결제 금액</th>
                                                <th>쿠폰 사용 유무</th>
                                                <th>쿠폰 금액</th>
                                                <th>최종 결제 금액</th>
                                                <th>결제일</th>
                                                <th>결제 방법</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>menteeid001</td>
                                                <td>50000</td>
                                                <td><span class="badge rounded-pill alert-success">사용</span></td>
                                                <td>1000</td>
                                                <td>49000</td>
                                                <td>2024. 9. 7 오후 6:00:00</td>
                                                <td>
                                                    <div class="icontext">
                                                        <img class="icon border" src="/manager/imgs/card-brands/1.png" alt="Payment" />
                                                        <span class="text text-muted">카드</span>
                                                    </div>
                                                </td>
                                            <tr>
                                                <td>menteeid003</td>
                                                <td>60000</td>
                                                <td><span class="badge rounded-pill alert-warning">미사용</span></td>
                                                <td>0</td>
                                                <td>60000</td>
                                                <td>2024. 10. 8 오후 7:00:01</td>
                                                <td>
                                                    <div class="icontext">
                                                        <img class="icon border" src="/manager/imgs/card-brands/1.png" alt="Payment" />
                                                        <span class="text text-muted">카드</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive.// -->
                            </div>
                            <!-- col end// -->
                            <aside class="col-lg-3">
                                <div class="box bg-light" style="min-height: 80%">
                                    <h6 class="mt-15">결제 관련 통계</h6>
                                    <hr />
                                    <h6 class="mb-0">통계1:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계2:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계3:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계4:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계5:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <br />
                                    <p>총 결제 금액</p>
                                    <p class="h4">109000원</p>
                                    <hr />
                                </div>
                            </aside>
                            <!-- col end// -->
                        </div>
                        <!-- row end// -->
                    </div>
                    <!-- card-body // -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
      </th:block>
</html>
