<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
			<section class="content-main">
                <div class="content-header">
                    <h2 class="content-title">멘토링 정산 내역 조회 화면</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>멘토 ID</th>
                                                <th>멘토링 공지 코드</th>
                                                <th>정산 금액</th>
                                                <th>정산 지급 날짜</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>mentorid001</td>
                                                <td>mentoring_notice_code_01</td>
                                                <td>정산금액</td>
                                                <td>2024. 9. 12 오후 7:00:12</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive.// -->
                            </div>
                            <!-- col end// -->
                            <aside class="col-lg-3">
                                <div class="box bg-light" style="min-height: 80%">
                                    <h6 class="mt-15">정산 관련 통계</h6>
                                    <hr />
                                    <h6 class="mb-0">통계1:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계2:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계3:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계4:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <h6 class="mb-0">통계5:</h6>
                                    <p>통계내용</p>
                                    <br />
                                    <br />
                                    <p>총 플랫폼 수익</p>
                                    <p class="h4">1000000000000000000000000000원</p>
                                    <hr />
                                </div>
                            </aside>
                            <!-- col end// -->
                        </div>
                        <!-- row end// -->
                    </div>
                    <!-- card-body // -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
      </th:block>
</html>
