<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{manager/layouts/layout}">
	  <th:block layout:fragment="customContent">
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">쿠폰 기준 조회 및 지급</h2>
                        <p>멘티의 쿠폰 기준 (목표 설정별 블로그 개수) 충족 시 쿠폰 지급 버튼으로 해당 쿠폰 지급</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>회원(멘티)ID</th>
                                        <th>회원(멘티)이름</th>
                                        <th>목표 설정 코드</th>
                                        <th>목표 진행(블로그) 개수</th>
                                        <th>쿠폰명</th>
                                        <th>쿠폰금액</th>
                                        <th>쿠폰 지급</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>menteeid001</td>
                                        <td>멘티1</td>
										<td>mentee_goal_setting_code_01</td>
										<td>10</td>
										<td>목표 진행 기록 개수 10개 이상</td>
                                        <td>1000</td>
                                        <td>
                                            <a href="#" class="btn btn-md rounded font-sm">지급</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
		</section>
      <!-- content-main end// -->
      </th:block>
</html>
