<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{manager/layouts/layout}">

<head>
	<link rel="stylesheet" href="/manager/css/mypage.css">
</head>

<th:block layout:fragment="customContent">
	<section id="contentMain3" class="content-main">
		<div>
			<h2 class="content-title card-title">멘토링 매칭 조회</h2>
			<p id="hw-manager-goalset-2">멘토링 매칭 조회화면</p>
		</div>
		</div>
		<div class="card mb-4">
			<!-- card-header end// -->
			<div class="card-body">
				<div class="table-responsive">
					<table id="hw-manager-goalset-1" class="table table-hover">
						<thead>
							<tr>
								<th>멘토링 신청 코드</th>
								<th>멘토링 공지 코드</th>
								<th>모집공고 상세 코드</th>
								<th>멘티 아이디</th>
								<th>멘토링 금액</th>
								<th>결제 상태</th>
								<th>업데이트 일자</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>mentoring_apply_code_01</td>
								<td>mentoring_notice_code_01</td>
								<td>mentoring_notice_detail_code_01</td>
								<td>mentee001</td>
								<td>50000</td>
								<td><span class="badge rounded-pill alert-success">결제완료</span></td>
								<td>2024-09-05</td>
							</tr>
						</tbody>

						<tbody>
							<tr>
								<td>mentoring_apply_code_02</td>
								<td>mentoring_notice_code_02</td>
								<td>mentoring_notice_detail_code_16</td>
								<td>mentee003</td>
								<td>60000</td>
								<td><span class="badge rounded-pill alert-success">결제완료</span></td>
								<td>2024-10-08</td>
							</tr>
						</tbody>

						<tbody>
							<tr>
								<td>mentoring_apply_code_03</td>
								<td>mentoring_notice_code_01</td>
								<td>mentoring_notice_detail_code_05</td>
								<td>mentee004</td>
								<td>60000</td>
								<td><span class="badge rounded-pill alert-success">결제완료</span></td>
								<td>2024-09-07</td>
							</tr>
						</tbody>

						<tbody>
							<tr>
								<td>mentoring_apply_code_04</td>
								<td>mentoring_notice_code_01</td>
								<td>mentoring_notice_detail_code_09</td>
								<td>mentee004</td>
								<td>60000</td>
								<td><span class="badge rounded-pill alert-success">결제완료</span></td>
								<td>2024-09-07</td>
							</tr>
						</tbody>

						<tbody>
							<tr>
								<td>mentoring_apply_code_05</td>
								<td>mentoring_notice_code_02</td>
								<td>mentoring_notice_detail_code_18</td>
								<td>mentee002</td>
								<td>60000</td>
								<td><span class="badge rounded-pill alert-success">결제완료</span></td>
								<td>2024-09-11</td>
							</tr>
						</tbody>

						<tbody>
							<tr>
								<td>mentoring_apply_code_06</td>
								<td>mentoring_notice_code_02</td>
								<td>mentoring_notice_detail_code_16</td>
								<td>mentee001</td>
								<td>60000</td>
								<td><span class="badge rounded-pill alert-success">결제완료</span></td>
								<td>2024-09-13</td>
							</tr>
						</tbody>


					</table>
				</div>
				<!-- table-responsive//end -->
			</div>
			<!-- card-body end// -->
		</div>
		<div class="pagination-area mt-30 mb-50">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-start">
					<li class="page-item active"><a class="page-link" href="#">01</a></li>
					<li class="page-item"><a class="page-link" href="#">02</a></li>
					<li class="page-item"><a class="page-link" href="#">03</a></li>
					<li class="page-item"><a class="page-link dot" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">16</a></li>
					<li class="page-item">
						<a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<!-- content-main end// -->
</th:block>

</html>