<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 연결성공?? -->
<div class="modal fade custom-modal" id="mentoringPaymentModal" tabindex="-1" aria-labelledby="mentoringPaymentModal" aria-hidden="true" th:fragment="payModalFragment">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                        	<div class="detail-info">
                                <h5>결제 금액</h5>
                                <div class="clearfix product-price-cover">
	                                <div class="product-price primary-color float-left">
	                                    <span class="current-price text-brand">50000</span>
	                                </div>
                            	</div>
                                <h5>쿠폰 내역</h5>
								<select class="col-6 mt-10 mb-10 form-control text-center" name="couponList">
									<option value="0">쿠폰 내역</option>
									<option value="1">쿠폰 조회 내역1</option>
									<option value="2">쿠폰 조회 내역2</option>
								</select>
								<div class="custome-checkbox text-center">
									<input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox13" value="" />
									<label class="form-check-label mt-10" for="exampleCheckbox13"><span>결제 사항 동의</span></label>
								</div>
                        	</div>
                        <!-- End Gallery -->
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-info pr-30 pl-30">
                            <h3 class="title-detail text-heading">멘토링 공고 제목</h3>
                            <div class="product-detail-rating">
                                <div class="product-rate-cover text-end">
                                    <span class="font-small ml-5 text-muted"> 멘토 아이디? 이름?</span>
                                </div>
                            </div>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <span class="current-price text-brand">50000</span>
                                </div>
                            </div>
                            <div class="detail-extralink mb-30">
                                <div class="product-extra-link2">
                                    <form action="/">
									    <button type="submit" class="button">
									        <i class="fi-rs-shopping-cart"></i>결제
									    </button>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>